<h1 class="header">Edit Your Bathroom</h1>
<% if @bathroom.errors.any?  %>
  <ul>
  <% @bathroom.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for @bathroom do |f|%>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :loaction %>
    <%= f.text_field :location %>
  </div>
  <div class="large-6 columns">
    <%= f.label :author_rating %>
    <%= f.text_field :author_rating %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :picture_url %>
    <%= f.text_field :picture_url %>
  </div>
  <div class="large-6 columns">
    <%= f.submit :class => "button create-post"%>
  </div>
</div>
<%end%>