<h1>Welcome to the Bathroom Book page for <%= @bathroom.location %>'s Bathroom</h1>
<%= link_to "Edit", edit_bathroom_path(@bathroom) %>
<%= link_to "Destroy", bathroom_path(@bathroom), method: :delete %>
<p>Posted By: <%= @bathroom.user.username %></p>
<p>Location: <%= @bathroom.location %></p>
<p>Author Rating: <%= @bathroom.author_rating %></p>
<p>Description: <%= @bathroom.description %></p>
<img src="<%= @bathroom.picture_url %>"/>
